/* Style For Client Sections*/
.client {
  background-image: linear-gradient(
    rgba(241, 249, 252, 1),
    rgba(241, 249, 252, 0.35)
  );
  padding: 250px 0 300px;
  position: relative;
  @include desktop{
    padding: 100px 0 300px;
  }
  &-shape-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
  &-list {
    margin-top: 50px;
    margin-bottom: 50px;
    @include flex;
    flex-wrap: wrap;
    &-items {
      img {
        width: 75%;
      }
      @include tablet{
        width:45%;
        margin-bottom:20px;
      }
      // &:first-child(){
      //   @include tablet{
      //     display: none;
      //   }
      // }
      // &:last-child(){
      //   @include tablet{
      //     display: none;
      //   }
      // }
    }
  }
}
.client-inner{
  padding: 265px 0 65px;
  @include tablet{
    padding: 100px 0 ;
  }
}