.login{
  position: relative;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  .login-menu{
    padding: 15px 50px;
    p{
      margin-bottom: 0;
      padding-top: 8px;
    }

  }
  .login-form {
    position: absolute;
    min-width:450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include tablet{
      margin-top: 15px;
    }
    a{
      display:block;
      padding-top: 15px;
    }
    .form-control {
      height: 55px;
      border: 1px solid #AEB8BE;
      border-radius: 7px;
      color: #858585;
    }
  }  
}
