/* Style For Operationals Sections*/
.operationals{
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
  @include desktop{
      padding-top: 75px;
      padding-bottom: 75px;
  } 
  &_cards{
    margin-top:50px;
    @include desktop{
        margin-top: 0;
    }    
  }
  &_card_item{
    margin-bottom:50px;
    .card{
      border-radius: 20px;
      border:none;
      &-img-top{
          padding: 30px 45px 15px;
          align-self: center;
          @include tablet{
            padding: 45px 45px 30px;
            width: 65%;
          }
      }
      &-body{
        background:$white;
        border-radius: 20px;
        margin:15px;
        padding: 15px;
        @include box-shadow(0, 43px, 66px , rgba(0,0,0,.06));
      }
    }
    &:nth-child(4n+1){
      .card{
          background: #FFF3E8;
      }
    }
    &:nth-child(4n+2){
      .card{
          background:#E6E8FF;
      }
    } 
    &:nth-child(4n+3){
      .card{
          background: #FFEEF5;
      }
    } 
    &:nth-child(4n+4){
      .card{
          background:#E4F7FF;
      }
    } 
  }

}