/* Style For Team Members Section*/

.team{
  background: #F2FAFC;
  padding: 120px 0 120px;
  position: relative;
  @include desktop{
    padding: 50px 0 100px;
  }
  .section_header{
    margin-top:20px;
    margin-bottom: 50px;
    h2{
      line-height: 45px;
      @include tablet{
        margin-bottom: 0;
      }
    }
    p{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &_slider_item{
    position: relative;
    padding: 15px;
    @include tablet{
      padding: 15px;
    }
    img{
      width: 100%;
      border-radius: 20px;
      min-height: 350px;
      max-height: 350px;
    }
  }
  &_member_details{
    position: absolute;
    bottom:30px;
    background: #fff;
    width: 80%;
    left: 50%;
    @include transform(translate(-50%));
    border-radius: 20px;
    padding: 20px 20px 0;
    text-align: center;
    @include tablet{
      padding: 15px 15px 0;
      width: 65%;
    }
    h4{
      line-height: 24px;
    }
    p{
      line-height: 18px;
    }
  }
  &_shape_left{
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 43px 66px rgba(0,0,0,.15);
    left:2%;
    top:10%;
    @include desktop{
      width: 60px;
      height: 60px;
    }
    @include tablet{
      left:2%;
      top:96%;
    }
    img{
      width: 100%;
    }
  }
  &_shape_right{
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 43px 66px rgba(0,0,0,.15);
    right:2%;
    top:-50px;
    @include desktop{
      width: 60px;
      height: 60px;
      top:-30px;
    }
    img{
      width: 100%;
    } 
  }
  &_slider{
    .slick-prev{
      left: -475px;
      top:400px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background:  #ffffff;
      @include box-shadow(0, 20px, 30px, rgba(0, 0, 0, 0.06));
      transition: all 1s ease;
      &:hover{
        background:  $secondary-color;
        svg{
          path{
            fill:$white;
          }
        }
      }
      @include desktop{
        left:-80%;
      }
    }
    .slick-next {
      left: -400px;
      top:400px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background: #ffffff;
      @include box-shadow(0, 20px, 30px, rgba(0, 0, 0, 0.06));
      transition: all 1s ease;
      &:hover{
        background:  $secondary-color;
        svg{
          path{
            fill:$white;
          }
        }
      }
      @include desktop{
        left:-60%;
      }
    }
    
  }
   
}


/* Style for Full Team Members*/
.full_team{
  padding: 90px 0 115px;
  .section_header{
    margin-bottom: 20px;
    margin-bottom:50px;
  }
  .team_shape_left{
    position: absolute;
    left:5%;
    top:70%;
    transform: translate(-50%,-50%);
    @include desktop{
      width: 60px;
      height: 60px;
    }
    @include tablet{
      left:10%;
      top:93%;
    }
    img{
      width: 100%;
    }
  }
  &_slider{
    .slick-prev{
      left:-53px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      z-index: 111;
      background:  #ffffff;
      @include box-shadow(0, 20px, 30px, rgba(0, 0, 0, 0.06));
      transition: all 1s ease;
      &:hover{
        background:  $secondary-color;
        svg{
          path{
            fill:$white;
          }
        }
      }
      @include desktop-lg{
        left:-25px;
      }
    }
    .slick-next {
      right:-55px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      z-index: 111;
      background: #ffffff;
      @include box-shadow(0, 20px, 30px, rgba(0, 0, 0, 0.06));
      transition: all 1s ease;
      &:hover{
        background:  $secondary-color;
        svg{
          path{
            fill:$white;
          }
        }
      }
      @include desktop-lg{
        right:-25px;
      }
    }
    
  }
}

/* Style for Full Team Members Page*/
.team-member{
  &-group{
    margin-bottom: 20px;
    h2{
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    &-content{
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      &-details{
        flex: 0 0 25%;
        max-width: 25%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;
        @include desktop{
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
        }
        @include tablet{
          flex: 0 0 50%;
          max-width: 50%;
        }
        @include mobile-xs{
          flex: 0 0 100%;
          max-width: 100%;
        }
        img{
          width: 100%;
          height: 100%;
          max-height: 100%;
          border-radius: 20px;
        }
        .member-info{
          position: absolute;
          bottom:20px;
          background: #fff;
          width: 80%;
          left: 50%;
          @include transform(translate(-50%));
          border-radius: 20px;
          padding: 20px 20px 0;
          text-align: center;
          h4{
            line-height: 24px;
          }
          p{
            line-height: 18px;
          }
        }
      } 
    }
  }
}