<!-- Mark up for Hero Section-->
<section class="error-page" id="error-page">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 order-12 order-md-1">
        <div class="hero_inner_page_content">
          <h1>Page not found</h1>
          <p>Sorry, but the page you were looking for could not be found</p>
        </div>
        <div class="hero_inner_page-buttons clearfix">
          <a href="index.html" class="button-light"> Jump to Main Page</a>
        </div>    
      </div>

      <div class="col-md-7 order-1 order-md-12">
        <div class="text-center">
          <img src="../images/error.png" alt="404" >
        </div>
      </div>
    </div>
  </div>
</section>