<!-- Mark up for Integration Single Page div-->
<div class="sticky-progress">
  <div class="sticky-progress-container">
    <div class="sticky-progress-bar" id="myBar"></div>
  </div>  
</div>
<article class="blog-post-single">
  <!-- Mark up for Hero div-->
  <div class="hero_inner_page">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-md-6 align-self-center">
          <div class="site-breadcrumb" >
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="resource.html">Blog</a></li>
              <li class="breadcrumb-item" aria-current="page">Services</li>
              </ol>
            </nav>
          </div>
          <!-- Mark up for BreadCrumb-->
          <div class="blog-post-title hero_inner_page_content">
            <h1>Professional Freedom Isn't A Pipe Dream.</h1>
          </div>
          <div class="media blog-author-wrap">
            <div class="blog-author  mr-3">
              <img src="../images/blog/blog-author.png" alt="" 
              class="blog-author-image  ">
            </div>
            <div class="media-body align-self-center">
              <div class="author-name">
                  <h4 class="blog-author-name mb-0">Michael</h4>
                  <p class="blog-date mb-0">24 Oct, 2020</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="hero_inner_page_figure text-center">
            <img src="../images/blog/blog_post_1.png" alt="blog-post">
          </div>
        </div>
      </div>
    </div>
  </div><!-- Mark up for Blog author-->
  <div class="blog-description">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
          <h2 >Membership websites open the doors to better content</h2>
          <p>The web offers a vast expanse of content. If someone wants to find more information or learn more about what they’re into, they’ll likely find something out there. But this wealth of free content comes with a downside, and that’s the varying levels of quality. Sometimes you get what you pay for, with zero cost equaling zero value.</p>
          <P>Becoming a part of a membership website offers access to premium content, classes, downloads, tutorials, and other types of media that’s exclusive to being a paid member. They also offer the opportunity to be a part of a greater community. Where technology has compartmentalized so many aspects of life, they bring people together with common interests.</P>
          <h2>Memberstack</h2>
          <p>Becoming a part of a membership website offers access to premium content, classes, downloads, tutorials, and other types of media that’s exclusive to being a paid member. They also offer the opportunity to be a part of a greater community. Where technology has compartmentalized so many aspects of life, they bring people together with common interests.</p>
          <p>Becoming a part of a membership website offers access to premium content, classes, downloads, tutorials, and other types of media that’s exclusive to being a paid member. They also offer the opportunity to be a part of a greater community. Where technology has compartmentalized so many aspects of life, they bring people together with common interests.</p>
        
          <div class="blog-author-profile clearfix">
            <div class="media blog-author-wrap">
              <div class="blog-author  mr-3">
                <img src="../images/blog/blog-author.png" alt="" 
                class="blog-author-image  ">
              </div>
              <div class="media-body align-self-center ">
                <div class="author-name float-left">
                    <h4 class="blog-author-name mb-0">Michael</h4>
                    <p class="blog-date mb-0">24 Oct, 2020</p>
                </div>
                <div class="blog-author-social float-right">
                  <ul class="social_link list-inline">
                      <li class="list-inline-item ">
                          <a href=""><i class="fa fa-facebook-f"></i></a>
                      </li>
                      <li class="list-inline-item">
                          <a href=""><i class="fa fa-instagram"></i></a>
                      </li>
                      <li class="list-inline-item">
                          <a href=""><i class="fa fa-twitter"></i></a>
                      </li>
                      <li class="list-inline-item">
                          <a href=""><i class="fa fa-pinterest-p"></i></a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>