<!-- Mark up for Blog Resource Section-->
<section class="blog blog-resource" id="blog-resource">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="section_header text-center">
          <h2>Secrets of Learning Revealed in Blogs</h2>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-4">
        <article class="blog_post">
          <img src="../images/blog/blog_post_1.png" alt="blog_post_1" class="blog_post_thumbnail">
          <div class="blog_post_body">
            <ul class="list-inline blog_post_meta">
              <li class="list-inline-item">
                <p>Posted by      
                <span>Michael, </span></p>   
              </li>
              <li class="list-inline-item">
                <p>24 Oct, 2020</p> 
              </li>
            </ul>
              <h3 class="blog_post_title"><a href="blog-single.html">Professional Freedom Isn't  a Pipe Dream.</a></h3>
              <p class="blog_post_summary">
                  Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod tempor invidunt labore et dolore.
                  magna aliquyam
              </p>
              <a href="blog-single.html" class="link_style blog_post_action stretched-link">Learn More 
                <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
              </a>
          </div>
        </article>
      </div>
      <!--End of Blog Items-->
      <div class="col-md-4">
        <article class="blog_post">
          <img src="../images/blog/blog_post_2.png" alt="blog_post_2" class="blog_post_thumbnail">
          <div class="blog_post_body">
            <ul class="list-inline blog_post_meta">
              <li class="list-inline-item">
                  <p>Posted by      
                      <span>Michael, </span></p>   
              </li>
              <li class="list-inline-item">
                  <p>24 Oct, 2020</p> 
              </li>
            </ul>
            <h3 class="blog_post_title"><a href="blog-single.html">Professional Freedom Isn't 
                a Pipe Dream.</a></h3>
            <p class="blog_post_summary">
                Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod tempor invidunt labore et dolore.
                magna aliquyam
            </p>
            <a href="blog-single.html" class="link_style blog_post_action stretched-link">Learn More 
              <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
              </svg>
            </a>
          </div>
        </article>
      </div>
      <!--End of Blog Items-->

      <div class="col-md-4">
        <article class="blog_post">
          <img src="../images/blog/blog_post_3.png" alt="blog_post_3" class="blog_post_thumbnail">
          <div class="blog_post_body">
            <ul class="list-inline blog_post_meta">
                <li class="list-inline-item">
                    <p>Posted by      
                        <span>Michael, </span></p>   
                </li>
                <li class="list-inline-item">
                    <p>24 Oct, 2020</p> 
                </li>
            </ul>
            <h3 class="blog_post_title"><a href="blog-single.html">Professional Freedom Isn't 
                a Pipe Dream.</a></h3>
            <p class="blog_post_summary">
                Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod tempor invidunt labore et dolore.
                magna aliquyam
            </p>
            <a href="blog-single.html" class="link_style blog_post_action stretched-link">Learn More 
                <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
            </a>
          </div>
        </article>
      </div>
      <!--End of Blog Items-->

      <div class="col-md-4">
        <article class="blog_post">
          <img src="../images/blog/blog_post_3.png" alt="blog_post_3" class="blog_post_thumbnail">
          <div class="blog_post_body">
            <ul class="list-inline blog_post_meta">
                <li class="list-inline-item">
                    <p>Posted by      
                        <span>Michael, </span></p>   
                </li>
                <li class="list-inline-item">
                    <p>24 Oct, 2020</p> 
                </li>
            </ul>
            <h3 class="blog_post_title"><a href="blog-single.html">Professional Freedom Isn't 
                a Pipe Dream.</a></h3>
            <p class="blog_post_summary">
                Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod tempor invidunt labore et dolore.
                magna aliquyam
            </p>
            <a href="blog-single.html" class="link_style blog_post_action stretched-link">Learn More 
                <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
            </a>
          </div>
        </article>
      </div>
      <!--End of Blog Items-->

      <div class="col-md-4">
        <article class="blog_post">
          <img src="../images/blog/blog_post_3.png" alt="blog_post_3" class="blog_post_thumbnail">
          <div class="blog_post_body">
            <ul class="list-inline blog_post_meta">
              <li class="list-inline-item">
                  <p>Posted by      
                      <span>Michael, </span></p>   
              </li>
              <li class="list-inline-item">
                  <p>24 Oct, 2020</p> 
              </li>
            </ul>
            <h3 class="blog_post_title"><a href="blog-single.html">Professional Freedom Isn't 
                a Pipe Dream.</a></h3>
            <p class="blog_post_summary">
                Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod tempor invidunt labore et dolore.
                magna aliquyam
            </p>
            <a href="blog-single.html" class="link_style blog_post_action stretched-link">Learn More 
                <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
            </a>
          </div>
        </article>
      </div>
      <!--End of Blog Items-->

      <div class="col-md-4">
        <article class="blog_post">
          <img src="../images/blog/blog_post_3.png" alt="blog_post_3" class="blog_post_thumbnail">
          <div class="blog_post_body">
            <ul class="list-inline blog_post_meta">
              <li class="list-inline-item">
                  <p>Posted by      
                      <span>Michael, </span></p>   
              </li>
              <li class="list-inline-item">
                  <p>24 Oct, 2020</p> 
              </li>
            </ul>
            <h3 class="blog_post_title"><a href="blog-single.html">Professional Freedom Isn't 
                a Pipe Dream.</a></h3>
            <p class="blog_post_summary">
                Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod tempor invidunt labore et dolore.
                magna aliquyam
            </p>
            <a href="blog-single.html" class="link_style blog_post_action stretched-link">Learn More 
                <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
            </a>
          </div>
        </article>
      </div>
      <!--End of Blog Items-->

      <div class="col-12">
        <div class="blog-pagination">
          <nav>
            <ul class="pagination pagination-lg justify-content-center">
              <li class="page-item active"><a class="page-link link_style" href="#">1</a></li>
              <li class="page-item ">
                <a class="page-link link_style" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link link_style" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link link_style" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>