<!-- Mark up for call- To- Action Section-->
<section class="callToAction" id="callToAction">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="callToAction_item">
          <div class="section_header text-center ">
            <h2>Have What it Takes to be a Tutive?</h2>
            <h3>We’re Looking for People who Share Our Vision!</h3>
            <a href="career.html" class=" button-light">View Current Openings 
            </a>
          </div>


          <div class="callToAction_shape_avater">
            <img src="../images/callToAction/call_to_action_people.png" alt="call_to_action_people.png">
          </div>
          <div class="callToAction_shape">
            <img src="../images/callToAction/call_to_action_shape.svg" alt="call_to_action_shape">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>