<!-- Mark up for Career Section-->
<section class="career" id="career">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 justify-content-center ">
        <div class="section_header text-center ">
          <h2>Open Position</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="career-section">
          <h3 class="career-title">Sales</h3>
          <div class="career-post">
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
          </div>
        </div><!-- Career Section-->

        <div class="career-section">
          <h3 class="career-title">Operations</h3>
          <div class="career-post">
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
          </div>
        </div><!-- Career Section-->

        <div class="career-section">
          <h3 class="career-title">Products</h3>
          <div class="career-post">
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
            <div class="career-post-item">
              <div class="content">
                <h4>Account Executive - Mid Market</h4>
                <p>San Francisco, CA</p>
              </div>
              <div class="action">
                <a class="button" href="career-single-page.html">Apply</a>
              </div>
            </div>
          </div>
        </div><!-- Career Section-->
      </div>
    </div>
  </div>
</section>