<!-- Mark up for CAreer Single Section-->
<section class="job" id="job">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="job-section">
          <div class="job-heading">
            <div class="job-heading-content">
              <div class="job-heading-title">
                <h2>Senior Product Manager</h2>
                <p><span>SAN FRANCISCO, CA /</span> <span>PRODUCT /</span> <span></span>REMOTE</span></p>
              </div>
              <div class="job-heading-apply">
                <a class="button" href="" data-toggle="modal" data-target="#exampleModal">Apply for the post</a>
              </div>
            </div>
          </div>
          
          <div class="job-description">
            <p><a href="#">Tutive</a> is on a mission to make the most powerful security simple and
               accessible for every organization. Getting secure can take months, slowing a company’s 
               speed-to-market and sales. We believe security—when done right—should accelerate innovation 
               and growth. That’s why we started Secureframe.
              Secureframe is backed by top VCs including 
              <a href="#">Tutive</a>(Google’s AI Fund), Base10, BoxGroup, Village Global, and many more.
            </p>

            <h3>What we will do?</h3>
            <ul >
              <li>
               can take months, slowing a company’s 
              </li>
              <li>
                 can take months, slowing a company’s 
              </li>
              <li>
                can take months, slowing a company’s 
              </li>
              <li>
                 can take months, slowing a company’s 
              </li>
              <li>
                 can take months, slowing a company’s 
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit praesentium possimus perspiciatis, libero, porro et, magni ratione recusandae vel inventore laudantium! Voluptatem dolores et pariatur nam voluptatum quidem? Voluptatem, eveniet.</p>
          </div>

          <div class="job-apply text-center">
            <a class="button" href="" data-toggle="modal" data-target="#exampleModal">Apply for the post</a>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fill Up The form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="contact_form">
            <h2>Senior Product Manager</h2>
            <p><span>SAN FRANCISCO, CA /</span> <span>PRODUCT /</span> <span></span>REMOTE</span></p>
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="file" class="form-control custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Attach Resume/CV</label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="Your Name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="email" class="form-control" placeholder="Email ID">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="Phone No.">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="Current Company">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <textarea name="Message" class="form-control" placeholder="ADDITIONAL INFORMATION"></textarea>
                </div>
              </div>
              <a href="" class="button-light d-block text-center">Submit Application</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>