<!-- Mark up for Client Section-->
<section class="@@class" id="client">
  <div class="client-shape-top">
    <img src="images/client/shape-top.svg" alt="shape-top" />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="section_header text-center">
          <h2>Join 20,000+ Companies Accelerating Deals with Tuitive</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <ul class="list-inline client-list">
          <li class="list-inline-item client-list-items">
            <img src="../images/client/Drift-Logo.svg" alt="client 1" />
          </li>
          <li class="list-inline-item client-list-items">
            <img src="../images/client/km_bizhub_logo.svg" alt="client 2" />
          </li>
          <li class="list-inline-item client-list-items">
            <img src="../images/client/hilton_logo.svg" alt="client 3" />
          </li>
          <li class="list-inline-item client-list-items">
            <img src="../images/client/Tata_Steel_Logo.svg" alt="client 4" />
          </li>
          <li class="list-inline-item client-list-items">
            <img src="../images/client/SGS_Logo.svg" alt="client 5" />
          </li>
          <li class="list-inline-item client-list-items">
            <img src="../images/client/TomTom_RGB_logo.svg" alt="client 6" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
