<!-- Mark up for Contact Section-->
<section class="operationals contact_address" id="operationals">
  <div class="container">
    <div class="row operationals_cards">
      <div class="col-md-4 operationals_card_item contact_address_item">
        <div class="card ">
          <img src="../images/contact/contact_place.svg" class="card-img-top contact_address_thumb" alt="...">
          <div class="card-body text-center">
            <h3 class="card-title">Office Address</h3>
            <p class="card-text">3337 New York-205 Hartwick, 
                NY 13348</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 operationals_card_item contact_address_item">
        <div class="card ">
          <img src="../images/contact/contact_phone.svg" class="card-img-top contact_address_thumb" alt="...">
          
          <div class="card-body text-center">
            <h3 class="card-title">Phone Number</h3>
            <p class="card-text">(+12) 800 123 45 67</p>
            <p class="card-text">(+12) 800 123 45 68</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 operationals_card_item contact_address_item">
        <div class="card ">
          <img src="../images/contact/contact_time.svg" class="card-img-top contact_address_thumb" alt="...">
          <div class="card-body text-center">
            <h3 class="card-title">Working Hours</h3>
            <p class="card-text">Open from 10am to 6pm
                (close at 5pm Sundays)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact" id ="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="contact_form">
          <h2>Get in Touch</h2>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" placeholder="Your Email" >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <textarea name="Message" class="form-control" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    I agree that my submitted data is being collected and stored.
                </label>
              </div>
            </div>
            <a class="button-light">Send Message</a>
          </form>
        </div>
      </div>
      <div class="col-md-7 ml-auto contact_map">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>