<!-- Mark up for All Team Members Section-->
<section class="team full_team" id="team">
  <div class="team_shape_left">
    <img src="../images/team/team_shape_left.svg" alt="">
  </div>
  <div class="team_shape_right">
    <img src="../images/team/team_shape_right.svg" alt="">
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-sm-12">
        <div class="section_header text-center">
          <h2>Our Executive Team</h2>
        </div>
      </div>
    </div>
    <div class="row service_items">
        <div class="col-sm-12">
          <div class="full_team_slider">
            <div class="team_slider_item">
              <img src="../images/team/team_member1.png" alt=" team_member1">
              <div class="team_member_details">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div>
            <div class="team_slider_item">
              <img src="../images/team/team_member2.png" alt="team_member2">
              <div class="team_member_details">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div>
            <div class="team_slider_item"> 
              <img src="../images/team/team_member3.png" alt="team_member2">
              <div class="team_member_details">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div>
            <div class="team_slider_item">
              <img src="../images/team/team_member4.png" alt="team_member2">
              <div class="team_member_details">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div>
            <div class="team_slider_item"> 
              <img src="../images/team/team_member1.png" alt="team_member2">
              <div class="team_member_details">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div>
          </div>
          <div class="team-member-link text-center mt-5">
            <a href="team-members.html" class="button button-light">View all Members</a>
          </div>
      </div>    
    </div>
  </div>
</section>