<!-- Mark up for Hero Section-->
<section class="hero" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="hero-content">
          <h1><span>Crush</span> Your Quota from Propose to Close</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
            inventore iste odio modi et neque aperiam nam illo nobis voluptatum!
          </p>
          <ul>
            <li><a href="#" class="button-light">Start 14 Days Trial</a></li>
            <li><a href="#" class="button">Request A Demo</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="hero-figure text-center">
          <img
            src="images/hero/hero_shape_center.png"
            alt="hero shape 1"
            class="hero-figure-image"
          />
          <!-- <div class="hero-shape">
            <img
              src="images/hero/shape-topLeft.svg"
              alt=""
              class="hero-shape-topLeft"
            />
            <img
              src="images/hero/shape-topRight.svg"
              alt=""
              class="hero-shape-topRight"
            />
            <img
              src="images/hero/shape-bottomLeft.svg"
              alt=""
              class="hero-shape-bottomLeft"
            />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
