<!-- Mark up for Hero Section for inner page-->
<section class="hero_inner_page" id="hero_inner_page">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5">
        <div class="hero_inner_page_content">
          <h1>Deliver stunning proposals that win</h1>
          <p>Create proposals fast and craft great documents that close every time.</p>
        </div>
        <div class="hero_inner_page-buttons clearfix">
          <a href="#" class="button-light"> Start 14 Days Trial</a>
          <a href="#" class="button"> Request A Demo</a>
          <p>No credit card required</p>
        </div>    
      </div>

      <div class="col-md-6 ml-auto">
        <div class="hero_inner_page_figure text-center">
          <img src="../images/hero/hero_inner_page_solution.png" alt="hero_inner_page_solution.png" class="">
        </div>
      </div>
    </div>
  </div>
</section>