<!-- Mark up for Integration Section-->
<section class="integration" id="integration">
  <div class="container">
    <div class="row justify-content-center align-items-center integration_items">
      <div class="col-md-9 ">
        <div class="section_header text-center ">
          <h2>Seamless Integrations with Your Favorite Software</h2>
          <P>Say goodbye to manual data entry. Integrate with the tools you depend on so 
              your team can get proposals, contracts and quotes out the door fast.</P>
          <a href="integration.html" class="link_style">Explore Integrations 
            <svg width="15px" height="15px" viewBox="0 0 16 16"  class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="integration_shape integration_center">
    <img src="../images/integration/shape_center.svg" alt="shape_center">
  </div>
  <div class="integration_shape integration_left_top">
    <img src="../images/integration/shape_left_top.svg" alt="shape_left_top">
  </div>
  <div class="integration_shape integration_left_center">
    <img src="../images/integration/shape_left_center.svg" alt="shape_left_center">
  </div>
  <div class="integration_shape integration_left_bottom">
    <img src="../images/integration/shape_left_bottom.svg" alt="shape_left_bottom">
  </div>
  <div class="integration_shape integration_right_top">
    <img src="../images/integration/shape_right_top.svg" alt="shape_right_top">
  </div>
  <div class="integration_shape integration_right_center">
    <img src="../images/integration/shape_right_center.svg" alt="shape_right_center">
  </div>
  <div class="integration_shape integration_right_bottom">
    <img src="../images/integration/shape_right_bottom.svg" alt="shape_right_bottom">
  </div>
</section>