<!-- Mark up for Integration Single Page div-->
<section class="integration_page_single">
  <div class="integration_breadcrumb" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="integration.html">Integration</a></li>
              <li class="breadcrumb-item" aria-current="page">Amazon Web Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Mark up for Hero div-->
  <div class="hero_inner_page">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-md-6">
          <div class="hero_inner_page_content">
            <h1>PandaDoc for Zendesk Sell (formerly Base CRM)</h1>
            <p>Create better proposals in less time and close deals faster with Zendesk Sell and PandaDoc.</p>
          </div>
          <div class="hero_inner_page-buttons clearfix">
            <a href="#" class="button-light"> Try it free</a>
            <a href="#" class="button "> Request A Demo</a>
            <p>No credit card required</p>
          </div>    
        </div>

        <div class="col-md-5 mr-auto">
          <div class="hero_inner_page_figure text-center">
            <img src="../images/integration_page/aws.svg" alt="aws">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mark up for Integration Item Description-->
  <div class="integration_page_single_description">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="div_header">
            <h2>Transform data into actionable sales documents with Sell and PandaDoc</h2>
          </div>
          <div class="integration_page_single_description_items">
            <h3>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
                Access your full content library inside Zendesk Sell
            </h3>
            <p>The PandaDoc content library puts your sales and marketing collateral at your fingertips inside Zendesk Sell
              (formerly Base CRM). Easily access, customize, and send any piece of content from inside your deals screen.</p>
          </div>
          <div class="integration_page_single_description_items">
            <h3>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
                Automatically transfer data between Zendesk Sell and PandaDoc
            </h3>
            <p>Proposal creation is faster than ever thanks to the Zendesk Sell and PandaDoc integration. A drag and drop interface makes it easy to update detailed, visually stunning proposals with custom pricing tables, attached content, and embedded media.

            </p>
          </div>
          
          <div class="integration_page_single_description_items">
            <h3>
              <svg width="16" height="16" viewBox="0 0 16 16">
                  <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
              </svg>
              Build your quotes, proposals or contracts within minutes
            </h3>
            <p>PandaDoc templates ensure brand compliance and document accuracy while saving you time. Simply create a new document, choose a template, and watch as key customer and opportunity data is added to your document automatically.
            </p>
          </div>
          <div class="integration_page_single_description_items">
            <h3>
              <svg width="16" height="16" viewBox="0 0 16 16">
                  <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
              </svg>
              One centralized solution to improve team collaboration
            </h3>
            <p>Need to work well with others? You’ll love the collaboration features built right into PandaDoc. When you add PandaDoc to Zendesk Sell, you’ll be able to co-author, comment, and review documents alongside co-workers, partners, and clients without leaving your desk.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="integration_page" id="integration_page">
    <div class="container">
      <div class="row">
        <div class="col-md-9 m-auto">
          <div class="div_header text-center">
            <h2>Connect your apps to PandaDoc</h2>
          </div>
          <div class="integration_page_content_wrapper">
            <div class="integration_page_content">
              <div class="integration_page_item_wrapper">
                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/aws.svg" alt="aws">
                  <h3>Amazon Web Service</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/jamf.svg" alt="jamf">
                  <h3>JMF Now</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/slack.svg" alt="slackslack">
                  <h3>Slack</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/hexnode.svg" alt="hexnode">
                  <h3>hexnode</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/render.svg" alt="render">
                  <h3>Render</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/bamboo-hr-2.svg" alt="bamboo-hr-2">
                  <h3>bambooHR</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/okta-icon.svg" alt="okta-icon">
                  <h3>Octa</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/github.svg" alt="github">
                  <h3>github</h3>
                </a><!--End OF Integration Item -->
              </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>