<!-- Mark up for Integration  Page -->
<section class="integration_page" id="integration_page">
  <div class="container">
      <div class="row">
        <div class="col-lg-3 d-lg-block d-none">
          <div class="integration_page_sidebar_menu">
            <h3>Categories</h3>
            <ul>
              <li class=" active"><a href="#cloud_service" class="scroll">Cloud Services</a></li>
              <li><a href="#business_suite" class="scroll">Business Suite</a></li>
              <li><a href="#human_resources" class="scroll">Human Resources</a></li>
              <li><a href="#device_management" class="scroll">Device Management</a></li>
              <li><a href="#developer_tool" class="scroll"> Developer Tools</a></li>
              <li><a href="#single_sign_on" class="scroll"> Single Sign On</a></li>
              <li><a href="#other_integration" class="scroll">Other</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="integration_page_content_wrapper">
            <div class="integration_page_content" id="cloud_service">
                <h2 class="text-center">Cloud Services</h2>
                <div class="integration_page_item_wrapper">
                  <a href="integration-page-single.html" class="integration_page_item">
                    <img src="../images/integration_page/aws.svg" alt="aws">
                    <h3>Amazon Web Service</h3>
                  </a><!--End OF Integration Item -->

                  <a href="integration-page-single.html" class="integration_page_item">
                    <img src="../images/integration_page/gcp.svg" alt="gcp">
                    <h3>Google Cloud Platform</h3>
                  </a><!--End OF Integration Item -->

                  <a href="integration-page-single.html" class="integration_page_item">
                    <img src="../images/integration_page/azure.svg" alt="azure">
                    <h3>Microsoft Azure Cloud</h3>
                  </a><!--End OF Integration Item -->

                  <a href="integration-page-single.html" class="integration_page_item">
                    <img src="../images/integration_page/heroku-2.svg" alt="heroku-2">
                    <h3>Heroku</h3>
                  </a><!--End OF Integration Item -->

                  <a href="integration-page-single.html" class="integration_page_item">
                    <img src="../images/integration_page/render.svg" alt="render">
                    <h3>Render</h3>
                  </a><!--End OF Integration Item -->

                  <a href="integration-page-single.html" class="integration_page_item">
                    <img src="../images/integration_page/cloudflare-icon.svg" alt="cloudflare-icon">
                    <h3>Cloudflare</h3>
                  </a><!--End OF Integration Item -->
                </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
            <div class="integration_page_content" id="business_suite">
              <h2 class="text-center">Business Suite</h2>
              <div class="integration_page_item_wrapper">
                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/gsuite.svg" alt="gsuite">
                  <h3>G suite</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/office365.svg" alt="office365">
                  <h3>Office 365</h3>
                </a><!--End OF Integration Item -->
              </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
            <div class="integration_page_content" id="human_resources">
              <h2 class="text-center">Human Resources</h2>
              <div class="integration_page_item_wrapper">
                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/gusto.svg" alt="gusto">
                  <h3>Gusto</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/rippling.svg" alt="rippling">
                  <h3>rippling</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/trinet.svg" alt="trinet">
                  <h3>trinet</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/bamboo-hr-2.svg" alt="bamboo-hr-2">
                  <h3>bambooHR</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/justworks.svg" alt="justworks">
                  <h3>justworks</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/zenefits.svg" alt="zenefits">
                  <h3>zenefits</h3>
                </a><!--End OF Integration Item -->
              </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
            <div class="integration_page_content" id="device_management">
              <h2 class="text-center">Device Management</h2>
              <div class="integration_page_item_wrapper">

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/jamf.svg" alt="jamf">
                  <h3>JMF Now</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/jamf_pro.svg" alt="jamf_pro">
                  <h3>JMF Pro</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/fleetsmith.svg" alt="fleetsmith">
                  <h3>fleetsmith</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/hexnode.svg" alt="hexnode">
                  <h3>hexnode</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/intune.svg" alt="intune">
                  <h3>MIcrosoft intune</h3>
                </a><!--End OF Integration Item -->
              </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
            <div class="integration_page_content" id="developer_tool">
              <h2 class="text-center">Developer Tools</h2>
              <div class="integration_page_item_wrapper">

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/bitbucket.svg" alt="bitbucket">
                  <h3>bitbucket</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/github.svg" alt="github">
                  <h3>github</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/gitlab.svg" alt="gitlab">
                  <h3>gitlab</h3>
                </a><!--End OF Integration Item -->

              </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
            <div class="integration_page_content" id="single_sign_on">
              <h2 class="text-center">Single Sign On</h2>
              <div class="integration_page_item_wrapper">

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/okta-icon.svg" alt="okta-icon">
                  <h3>Octa</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/gci.svg" alt="gci">
                  <h3>Google Cloud Identity</h3>
                </a><!--End OF Integration Item -->

                <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/azure-ad.svg" alt="azure-ad">
                  <h3>Azure Active Directory</h3>
                  </a><!--End OF Integration Item -->

              </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
            <div class="integration_page_content" id="other_integration">
              <h2 class="text-center">Other</h2>
              <div class="integration_page_item_wrapper">

              <a href="integration-page-single.html" class="integration_page_item">
                  <img src="../images/integration_page/slack.svg" alt="slackslack">
                  <h3>Slack</h3>
              </a><!--End OF Integration Item -->

              </div><!--End OF Integration Item Wrapper-->
            </div><!--End OF Integration Content Wrapper-->
          </div>
      </div>
    </div>
  </div>
</section>