<!-- Mark up for Navigation Footer Section-->
<footer class="footer" id="footer">
  <div class="container">
    <div class="row justify-content-center justify-content-md-start">
      <div class="d-none d-md-block col-md-3">
        <div class="footer_items">
          <a href="#"><img src="../images/logo.svg" alt="logo"></a>
        </div>
      </div><!--End of footer Items-->
    

        <div class="col-6 col-md-3">
            <div class="footer_items">
            <h3>Integrations</h3>
            <ul class="footer_items_list">
                <li>
                    <a href="integration-page-single.html">HubSpot </a>
                </li>
                <li>
                    <a href="integration-page-single.html">Salesforce</a>
                </li>
                <li>
                    <a href="integration-page-single.html">Pipedrive</a>
                </li>
                <li>
                    <a href="integration-page-single.html">Zoho</a>
                </li>
                <li>
                    <a href="integration-page-single.html">Copper</a>
                </li>
                </ul>
            </div>
        </div><!--End of footer Items-->

        <div class="col-6 col-md-3">
            <div class="footer_items">
                <h3>Solutions</h3>
                <ul class="footer_items_list">
                    <li>
                        <a href="solutions.html">Proposals</a>
                    </li>
                    <li>
                        <a href="solutions.html">Quotes</a>
                    </li>
                    <li>
                        <a href="solutions.html">Contracts</a>
                    </li>
                    <li>
                        <a href="solutions.html">eSignatures</a>
                    </li>
                    <li>
                        <a href="solutions.html">Payments</a>
                    </li>
                </ul>
            </div>
        </div><!--End of footer Items-->
        <div class="col-6 col-md-3">
            <div class="footer_items">
                <h3>Company</h3>
                <ul class="footer_items_list">
                    <li>
                        <a href="about.html">About us</a>
                    </li>
                    <li>
                        <a href="solutions.html">Solutions</a>
                    </li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="integration.html">Integrations</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    
    <div class="row footer_bottom clearfix">
      <div class="col-md-6">
          <div class="footer_bottom_items">
              <p>	&copy; <span id="copyrightYear"></span> Tutive Inc. All rights reserved.</p>
          </div>
      </div><!--End of footer Items-->

      <div class="col-md-6">
        <div class="footer_bottom_items float-md-right">
          <ul class="social_link list-inline">
              <li class="list-inline-item ">
                  <a href=""><i class="fa fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href=""><i class="fa fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href=""><i class="fa fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                  <a href=""><i class="fa fa-pinterest-p"></i></a>
              </li>
          </ul>
        </div>
      </div><!--End of footer Items-->

    </div>
  </div>
</footer>
