<!-- Mark up for Pricing TAble Section-->
<section class="pricing_table" id="pricing_table">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section_header text-center">
          <h2>Compare the plans</h2>
        </div>
      </div> 
    </div>

    <div class="row justify-content-center pricing_table_item">
        <div class="col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Top PandaDoc features</th>		
                <th scope="col">Free</th>
                <th scope="col">Essentials</th>
                <th scope="col">Business</th>
                <th scope="col">Enterprise</th>
              </tr>
            </thead><!-- end of Table Head-->
            <tbody>
            <tr>
              <td >
                  Legally binding eSignatures
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>unlimited</td>
              <td>unlimited</td>
              <td>unlimited</td>
              <td>unlimited</td>
          </tr><!-- end of Row-->
          <tr>
            <td >
                Activity tracking and notifications
                <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                    <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                </svg>
            </td>
            <td>
                <svg width="16" height="16" viewBox="0 0 16 16" >
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
            </td>
            <td>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
            </td>
            <td>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
            </td>
            <td>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
            </td>
          </tr><!-- end of Row-->
          <tr>
            <td >
                Payments
                <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                    <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                </svg>
            </td>
            <td>
                <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                    <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                </svg>
            </td>
            <td>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
            </td>
            <td>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
            </td>
            <td>
                <svg width="16" height="16" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                </svg>
            </td>
            </tr><!-- end of Row-->
            <tr>
              <td >
                  Audit trail and document analytics 
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td>
                  Public and custom templates
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon"  data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td >
                  Rich media drag and drop document editor 
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td >
                  Custom branding
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td >				
                  Content library 
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td >
                  Content locking 
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  $
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td >
                  Approval workflows
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
          </tr><!-- end of Row-->
          <tr>
              <td >
                  Integration for HubSpot, Pipedrive, and other CRMs
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  $ for volume
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td >
                  Salesforce integration
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  $ 
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
            <tr>
              <td >
                  Unlimited number of team workspaces
                  <svg width="16" height="16" viewBox="0 0 16 16" class="pricing_table_icon_addon" data-toggle="tooltip" data-placement="bottom" title="Simply add a eSignature block to any existing document, attach a recipient and ta-da! Best of all, our eSignatures are legally binding and are UETA and Federal ESIGN Act compliant.">
                      <path d="M8 16a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM8 1a7 7 0 1 0 7 7 7 7 0 0 0-7-7zm.61 11.31H7.39v-1.23h1.22zm1.28-4.77l-.55.56a2.08 2.08 0 0 0-.72 1.75H7.38v-.31A2.48 2.48 0 0 1 8.1 7.8l.77-.8a1.19 1.19 0 0 0 .36-.87 1.23 1.23 0 0 0-2.46 0H5.54a2.46 2.46 0 0 1 4.92 0 2 2 0 0 1-.57 1.41z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  <svg width="12" height="12" viewBox="0 0 14 14" class="pricing_table_icon">
                      <path d="M14 1.41L12.59 0 7 5.59 1.41 0 0 1.41 5.59 7 0 12.59 1.41 14 7 8.41 12.59 14 14 12.59 8.41 7z"></path>
                  </svg>
              </td>
              <td>
                  $ 
              </td>
              <td>
                  <svg width="16" height="16" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zM6.4 12l-4-4 1.13-1.13L6.4 9.74l6.07-6.08L13.6 4.8z" fill="#47b972"></path>
                  </svg>
              </td>
            </tr><!-- end of Row-->
          </tbody><!-- end of Table Body-->
        </table><!-- end of Table-->
      </div> 
    </div>
  </div>
</section>