<!-- Mark up for Services Section-->
<section class="service" id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="section_header text-left">
          <h2>It’s Time to Upgrade how Deals Get Done</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="list-group" id="list-tab" role="tablist">
          <div
            class="list-group-item list-group-item-action active"
            id="list-home-list"
            data-toggle="list"
            href="#list-home"
            role="tab"
            aria-controls="home"
          >
            <h3>Don’t just Engage, Make it Engaging.</h3>
            <p>
              Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod
              tempor invidunt labore et dolore.
            </p>
          </div>
          <div
            class="list-group-item list-group-item-action"
            id="list-profile-list"
            data-toggle="list"
            href="#list-profile"
            role="tab"
            aria-controls="profile"
          >
            <h3>Always know where you stand.</h3>
            <p>
              Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod
              tempor invidunt labore et dolore.
            </p>
          </div>
          <div
            class="list-group-item list-group-item-action"
            id="list-messages-list"
            data-toggle="list"
            href="#list-messages"
            role="tab"
            aria-controls="messages"
          >
            <h3>Workflow that works for you.</h3>
            <p>
              Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod
              tempor invidunt labore et dolore.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7 ml-auto">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="list-home"
            role="tabpanel"
            aria-labelledby="list-home-list"
          >
            <img src="../images/service/deals_graphic.png" alt="service1" />
          </div>
          <div
            class="tab-pane fade"
            id="list-profile"
            role="tabpanel"
            aria-labelledby="list-profile-list"
          >
            <img src="../images/service/deals_graphic.png" alt="service1" />
          </div>
          <div
            class="tab-pane fade"
            id="list-messages"
            role="tabpanel"
            aria-labelledby="list-messages-list"
          >
            <img src="../images/service/deals_graphic.png" alt="service1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
