<!-- Mark up for Solution page Section-->
<section class="solutions py-5" id="solutions">
    <div class="container">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-md-5">
                <div class="section_header_inner_page">
                    <h3>Create error-free quotes fast</h3>
                    <P>It could take you minutes instead of hours to get quotes out the door. Our digital quotes are quickly personalized using the product catalog or by automatically pulling data from your CRM. It’s time to stop manual data entry, so you can focus on crushing your quota.</P>
                    <a href="integration.html" class="link_style">Sign up for a 1-on-1 demo
                        <svg width="15px" height="15px" viewBox="0 0 16 16"  class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-6  ml-auto">
                <div class="solutions_section_pic m-auto">
                    <img src="../images/solutions/solutions-quote.png" alt="">
                </div>
            </div>
        </div><!-- sloution section quotes--> 

        <div class="row justify-content-center align-items-center my-5">
            <div class="col-md-6  mr-auto">
                <div class="solutions_section_pic m-auto">
                    <img src="../images/solutions/solutions-signature-quote.png" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="section_header_inner_page">
                    <h3>Create error-free quotes fast</h3>
                    <P>It could take you minutes instead of hours to get quotes out the door. Our digital quotes are quickly personalized using the product catalog or by automatically pulling data from your CRM. It’s time to stop manual data entry, so you can focus on crushing your quota.</P>
                    <a href="integration.html" class="link_style">Try Our eSignature Solutions
                        <svg width="15px" height="15px" viewBox="0 0 16 16"  class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path class="right-arrow" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </div>
            </div>
            
        </div><!-- sloution section Signature-->

        <div class="row justify-content-center align-items-center my-5">
            <div class="col-md-5">
                <div class="section_header_inner_page">
                    <h3>Create error-free quotes fast</h3>
                    <P>It could take you minutes instead of hours to get quotes out the door. Our digital quotes are quickly personalized using the product catalog or by automatically pulling data from your CRM. It’s time to stop manual data entry, so you can focus on crushing your quota.</P>
                </div>
            </div>
            <div class="col-md-6  ml-auto">
                <div class="solutions_section_pic m-auto">
                    <img src="../images/solutions/solutions-updates.png" alt="">
                </div>
            </div>
        </div><!-- sloution section updates-->
    </div>
</section>