<!-- Team Members-->
<section class="team-member">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="team-member-group">
          <h2>Developer</h2>
          <div class="team-member-group-content">
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member1.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member2.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member3.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member4.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
          </div>
        </div><!--Team Member Group-->
        <div class="team-member-group">
          <h2>Marketing Officer</h2>
          <div class="team-member-group-content">
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member1.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member2.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member3.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member4.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member4.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
          </div>
        </div><!--Team Member Group-->
        <div class="team-member-group">
          <h2>Designer</h2>
          <div class="team-member-group-content">
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member1.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member2.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member3.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member4.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
          </div>
        </div><!--Team Member Group-->
        <div class="team-member-group">
          <h2>Quality Controller</h2>
          <div class="team-member-group-content">
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member1.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member2.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member3.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
            <div class="team-member-group-content-details"> 
              <img src="../images/team/team_member4.png" alt="team_member2">
              <div class="member-info">
                <h4>Jona Gerhard</h4>
                <p>Director</p>
              </div>
            </div><!--Members-->
          </div>
        </div><!--Team Member Group-->
      </div>
    </div>
  </div>
</section>