<!-- Mark up for Team Members Section-->
<section class="team" id="team">
  <div class="team_shape_left">
    <img src="../images/team/team_shape_left.svg" alt="" />
  </div>
  <div class="team_shape_right">
    <img src="../images/team/team_shape_right.svg" alt="" />
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="section_header text-left">
          <h2>We’re Building a Diverse Team.</h2>
          <p>
            Lorem ipsum dolor it consetur sadipscing elitr diam nonumy eimod
            tempor invidunt labore et dolore. magna aliquyam.
          </p>
          <!--div class="team-member-link">
            <a href="team-members.html" class="button button-light">View all Members</a>
          </div-->
        </div>
      </div>
      <div class="col-md-7">
        <div class="team_slider">
          <div class="team_slider_item position-relative">
            <img src="../images/team/team_member1.png" alt=" team_member1" />
            <div class="team_member_details">
              <h3>Jona Gerhard</h3>
              <p>Director</p>
            </div>
          </div>
          <div class="team_slider_item">
            <img src="../images/team/team_member2.png" alt="team_member2" />
            <div class="team_member_details">
              <h3>Jona Gerhard</h3>
              <p>Director</p>
            </div>
          </div>
          <div class="team_slider_item ">
            <img src="../images/team/team_member3.png" alt="team_member2" />
            <div class="team_member_details">
              <h3>Jona Gerhard</h3>
              <p>Director</p>
            </div>
          </div>
          <div class="team_slider_item">
            <img src="../images/team/team_member4.png" alt="team_member2" />
            <div class="team_member_details">
              <h3>Jona Gerhard</h3>
              <p>Director</p>
            </div>
          </div>
        </div>
        <div class="team-member-link text-center mt-3">
          <a href="team-members.html" class="button button-light">View all Members</a>
        </div>
      </div>
    </div>
  </div>
</section>
