<!-- Mark up for Video Section-->
<section class="video" id="video">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="video-musking">
          <img
            src="../images/video/vid_bg.png"
            alt="video png"
            class="video-img"
          />
          <div
            class="video-button"
            data-video="https://www.youtube.com/embed/a6KGPBflhiM?autoplay=1&mute=1"
          >
            <img src="../images/video/video.svg" alt="video-icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
