//site color variables
$body-color: #fff;
$primary-color: #323C79;
$secondary-color:#8A74FF;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #f7f9ff;
$dark-gray: #FCF7EF;

//text colors
$text-color:#858585;
$text-color-dark:#1E212A;
$text-color-link: #8A74FF;
$text-color-header: #1D1D1D;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Poppins", sans-serif;
$font-size: 15px;

// Margin & padding
$padding: 1rem;
$margin: 1rem; 